.top{
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
}
.local{
    width: 90px;
    line-height:30px ;
    float: left;
}
.local i{
    width: 15px;
    height: 7px;
    overflow:hidden ;
    float: right;
    margin-top: 12px;
    position: relative;
}
.local i s{
    display: inline-block;
    width: 15px;
    height: 18px;
    font-size: 24px;
    line-height: 18px;
    position: absolute;
    top:-9px;
}
.fr1{
    width: 797px;
    height: 30px;
    line-height: 30px;
}
.fr1 li{
    float: left;
    text-align: center;
}
.fr1 .spacer{
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background: #ddd;
}
.fr1 li a{
    color: #666;
}
.fr1 .fore1{
    width: 126px;
    padding: 0 2px;
    margin-right: 9px;
}
.fr1 .fore1 span a{
    color: #C81623;
}
.fr1 .fore2{
    width: 64px;
    padding: 0 2px;
}
.fr1 .fore3{
    width: 82px;
    padding: 0 2px;
}
.fr1 .fore4{
    width: 64px;
    padding: 0 2px;
}
.fr1 .fore5{
    width: 64px;
    padding: 0 2px;
}
.fr1 .fore6{
    width: 98px;
    padding: 0 2px;
}
.fr1 .fore6 .ci-left{
    width: 15px;
    height: 20px;
    float: left;
    background:url("../images/bgc.png") no-repeat;
    margin-left: 7px;
    margin-top: 5px;
}
.fr1 .fore7{
    width: 82px;
    padding: 0 2px;
}
.fr1 .fore8{
    width: 82px;
    padding: 0 2px;
}
.fr1 .fore9{
    width: 82px;
    padding: 0 2px;
}
.fr1 li .ci-right{
    width: 15px;
    height: 7px;
    overflow:hidden ;
    float: right;
    margin-top: 13px;
    position: relative;
    margin-right: 10px;
    margin-left: -7px;
}
.fr1 li .ci-right s{
    display: inline-block;
    width: 15px;
    height: 18px;
    font-size: 24px;
    line-height: 18px;
    position: absolute;
    top:-8px;
    left: 0;
}
.logo-jd{
    position: relative;
    z-index: 12;
    float: left;
    width: 362px;
    height: px;
    padding: 20px 0;}
.logo-jd .logo-jdx{
    display: block;
    width: 270px;
    height: 60px;
    background:url("../images/logo.png") no-repeat;
    text-indent: -999px;
}
.search{
    float: left;
    width: 538px;
    height: 40px;
    margin-top: 25px;
}  
.search .from{
    width:538px ;
    height: 40px;
    padding: 2px 0;
}
.search .from .text{
    float: left;
    width: 456px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
}
.search .from .btn{
    float: left;
    width: 70px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-size: 16px;
}
 .cw-icon{
    width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    float: right;
    margin-top: 25px;
     position: relative;
}
 .cw-icon .ci-left{
     position: absolute;
     top: 9px;
     left: 18px;
     display:block;
     width: 18px;
     height: 16px;
     background:url("../images/bgc.png") no-repeat 0 -58px;
 }
 .cw-icon .ci-right{
     display: block;
     position: absolute;
     top: 11px;
     right: 10px;
     width: 7px;
     height: 13px;
     overflow: hidden;
     color: #999;
 }
.cw-icon .ci-right s{
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: -7px;
}
.cw-icon .ci-count{
    position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}
.cw-icon a{
    color: #666;
}
.nav_x{
    width: 518px;
    height: 20px;
    overflow: hidden;
}
.nav_x a{
    float: left;
    margin-right: 10px;
    color: #666;
}
.nav_x .fl{
    color: #B61D1D;
}
.nav_x a:hover{
    color:#B61D1D ;
}
.nav-wy{
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.nav-wy .top_1{
    height: 44px;
    position: relative;
}
.nav-wy .top_1 .content{
    display:block;
    width: 210px;
    height: 44px;
    background: #B1191A;
    position: absolute;
    top: 0;
    left: 0;
}
.nav-wy .top_1 .content a{
    width: 190px;
    height: 44px;
    line-height: 44px;
    padding:0  10px;
    color: #fff;
    font-size: 14px;
}
.nav-wy .top_1 .navitems{
    display: block;
    width: 728px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 210px;
}
.navitems-group1{
    float: left;
    display: block;
    width: 352px;
    height: 44px;
}
.navitems-group1 .fz{
    display: block;
    width: 88px;
    height: 44px;
    float: left;
}
.navitems-group1 .cs{
    display: block;
    width: 104px;
    height: 44px;
    float: left;
}
.navitems-group1 .sx{
    display: block;
    width: 72px;
    height: 44px;
    float: left;
}
.navitems-group1 li a{
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    text-align: center;
    color: #333;
    font-size: 15px;
}
.navitems-group2{
    float: left;
    display: block;
    width: 376px;
    height: 44px;
}
.navitems-group2 .qqg{
    display: block;
    width: 88px;
    height: 44px;
    float: left;
}
.navitems-group2 .sg{
    display: block;
    width: 72px;
    height: 44px;
    float: left;
}
.navitems-group2 li a{
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    text-align: center;
    color: #333;
    font-size: 15px;
}
.navitems-group2 li a:hover{
    color: #B1191A;
}
.navitems-group1 li a:hover{
    color: #B1191A;
}
.zt{
    width: 1210px;
    height: 466px;
    margin: 0 auto;
}
.zt .top_1 .dd{
    width: 210px;
    height: 460px;
    background: #c81623;
    float: left;
}
.dd .item{
    width: 209px;
    height: 31px;
    border-left: 1px solid #b61d1d;
    color: #fff;
    position: relative;
}
.dd .item h3{
    height: 31px;
    padding: 0 10px;
    line-height: 31px;
    font-size: 14px;
    font-weight: 400;
}
.dd .item i{
    position: absolute;
    top: 5px;
    right: 14px;
    width: 4px;
    height: 14px;
    font-size: 9px;
}
.dd .item h3 a{
    color: #fff;
}

.top_1 a img{
    display: block;
    width: 730px;
    height: 454px;
    float: left;
    margin: 6px;
}
.news{
    height:auto;
    width:248px;
    overflow:hidden;
    top:12px;
    border:1px solid #e4e4e4;
}
.mt{
    width:248px;height:33px;
    text-align:center;
    border-bottom: 1px solid #e4e4e4;
}
.mt h2{
    margin-left:5px;
    text-align: center;
    float:left;
    line-height: 33px;
    font-size:16px;
    font-weight:400;
    color:#666;
}
.mt a{
    float:right;
    line-height: 33px;
    color:#666;
}
.news .mc{
    height:120px;
    padding-top:5px;
    paddiing:8px 0 0 15px;
}
.news .mc  ul li a{
    margin-left:10px;
    line-height: 24px;
    height: 24px;
    width:210px;
    color:#666
}
.mc  ul li a span{
    font-weight: 700;
    margin-right:5px;
}
.m{
    width:248px;height:210px;
}
.m ul li{
    display:inline-block;
    width:62px;height:71px;
    position: relative;
    border:1px solid #e4e4e4;
    margin-right:-5px;
}
.m ul li span{
    display:inline-block;
    width:62px;height:20px;
    color:#666;
    margin-top: 10px;
    text-align: center;
}
.m ul li i{
    display:block;
    width:25px;height:25px;
    margin:0 auto;
    margin-top: 10px;
}
.icon{
    background:url("../images/tubiao.png") no-repeat 0 0;
}
.icon1{
    background:url("../images/tubiao.png") no-repeat 0 -25px;
}
.icon2{
    background:url("../images/tubiao.png") no-repeat 0 -50px;
}
.icon3{
    background:url("../images/tubiao.png") no-repeat 0 -75px;
}
.icon4{
     background:url("../images/tubiao.png") no-repeat 0 -100px;
 }
.icon5{
    background:url("../images/tubiao.png") no-repeat 0 -125px;
}
.icon6{
    background:url("../images/tubiao.png") no-repeat 0 -150px;
}
.icon7{
    background:url("../images/tubiao.png") no-repeat 0 -175px;
}
.icon8{
    background:url("../images/tubiao.png") no-repeat 0 -250px;
}
.icon9{
    background:url("../images/tubiao.png") no-repeat 0 -200px;
}
.icon10{
    background:url("../images/tubiao.png") no-repeat 0 -275px;
}
.icon11{
    background:url("../images/tubiao.png") no-repeat 0 -225px;
}
.niuzai{
    width:250px;height:75px;
    margin-top:15px;
}
.recommend{
    width:1210px;height:164px;
    margin:0 auto;
}
.fengbao{
    width:245px;height:164px;
    float:left;
    margin-top: 10px;
}
.dachu{
    width:1000px;height:164px;
    float:left;  margin-top: 10px;
    margin-left: -35px;
}
.dachu img{
    width:246px;
}
.many{
    width:100%;height:94px;
    margin:0 auto;
    background-color:#f5f5f5;
    margin-top:10px;
}
.many1{
    float:left;
    width:302px;height:54px;
    line-height: 54px;
    margin-top: 20px;
}
.many2{
    width:1210px;height54px;
    margin:0 auto;
}
.fore1{
    display: block;
    float:left;
    width:199px;
    margin-top:15px;
    margin-bottom:20px;
}
.fore1 dt{
    font:400 16px/24px "microsoft yahei";
    padding:6px 0;
    color:#666;
}
.fore1 dd{
    font:12px/150% 'ËÎÌå';
    color:#666;
    line-height:20px;
}
.coverage{
    float:right;
    width:210px;
    margin-top:15px;
    height: 156px;
    margin-bottom:20px;
    background:url("../images/ditu.png") no-repeat -6px -131px;
    position: relative;
}
.coverage p{
    padding:6px 40px 15px 20px ;
    font:400 16px/24px 'microsoft yahei';
    color:#666
}
.coverage span{
    display:inline-block;
    margin-left: 20px;
    font:12px/150% 'ËÎÌå';
    color:#666
}
.coverage a{
    position: absolute;
    bottom:40px;right:3px;
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    color:#666;
}
.fore{
    width:1210px;
    margin:0 auto;
    height:200px;
    border-bottom:1px solid #f5f5f5;
}
.mt{
    width:1210px;height:36px;
    margin:0 auto;
}
.mt h2{
    padding-right:228px;
    background:url("../images/homebg.png") no-repeat 85px -91px;
}
.mt a{
    height:18px;
    line-height:18px;
    padding-right:25px;
    margin-top:10px;
    background:url("../images/homebg.png") no-repeat -310px -5px;
}
/*Ò³½Å*/
.footer-2014{
    width: 1210px;
    height: 205px;
    margin:0 auto;
    margin-top: 18px;
    text-align: center;
    color: #666;
}
.footer-2014 .links a{
    margin: 0 10px;
    color: #666;
}
.footer-2014 .links a:hover{
    color: #C81623;
}
.footer-2014 .copyright{
    height: 81px;
    margin: 10px 0;
    color: #666;
    line-height: 20px;
}
.footer-2014 .copyright a{
    color: #666;
}
.footer-2014 .copyright a:hover{
    color: #C81623;
}
.footer-2014 .authentication{
    height: 32px;
    text-align: center;
}
.footer-2014 .authentication a{
    margin: 0 5px;




